.footer__nav__home {
    height: max-content;
    width: 100vw;
    background: var(--bgcolor1);
    padding: 2rem;
    display: flex;
    font-family: 'Open Sans', 'Oxygen', sans-serif;
}
.footer__nav__home__logo,
.footer__nav__home__text {
    width: 50vw;
    transform: scale(.8);
}
.footer__nav__home__logo {
    display: grid;
}
.footer__nav__home__text {
    display: grid;
    place-content: center;
}
.footer__nav__home__logo h3 a {
    color: var(--textcolor1);
    text-decoration: none;
}
.footer__nav__home__text p {
    color: var(--textcolor1);
}