.landing__page__banner {
    background: var(--textcolor1);
    color: var(--bgcolor1);
    height: 92vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/* SECTION 1 */
.landing__page__section1 {
    width: clamp(50%, 50vw, 50vw);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.landing__page__section1__div1 {
    display: grid;
    gap: clamp(25px, 15vw, 35px);
    padding: clamp(20px, 10vw, 30px);
    width: clamp(max-content, 30vw, 50vw);
    transform: scale(1.1);
    margin-left: clamp(20px, 2rem, 30px);
    overflow-y: hidden;
}
.landing__page__section1 h1 {
    font-size: clamp(15px, 12vw, 50px);
    overflow: hidden;
    font-family: 'oxygen', 
        Helvetica, sans-serif;
    font-weight: 700;
    padding: 0, 0.86rem;
    background: linear-gradient(
        to right, var(--bgcolor1), var(--color1), var(--bgcolor1)
        );
    overflow: hidden;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
/* SECTION 2 */
#landing__page__section1__btn {
    background: var(--color1);
    text-decoration: none;
    color: #0b1313;
    width: clamp(100px, 12vw, 300px);
    font-weight: 700;
    border-radius: 20px;
    padding: .75rem;
    display: grid;
    font-size: clamp(10px, 15vw, 15px);
    place-content: center;
    border: none;
    outline: 2px solid transparent;
    font-family: 'Oxygen', sans-serif;
    transition: all 250ms ease-in-out;
}
#landing__page__section1__btn:hover {
    background: rgb(2, 255, 209);
}

.landing__page__section2 {
    width: clamp(50%, 50vw, 50vw);
    padding: 2rem;
}
.landing__page__section2__div1 {
    display: grid;
    place-content: center;
    height: 100%;
}
.landing__page__img__human__standing {
    width: clamp(350px, 45vw, 500px);
}



/* Media Query */
@media screen and (max-width: 650px) {
    .landing__page__banner {
        flex-direction: column;
        height: max-content;
        padding: 0 auto;
        gap: 30px;
        padding-top: 30px;
        align-items: center;
        justify-content: space-around;
    }
    .landing__page__section1,
    .landing__page__section2 {
        width: 100vw;
        height: max-content;
    }
    .landing__page__section1 {
        place-content: center;
        text-align: center;
    }
    .landing__page__section2 {
        padding: 0;
    }
    .landing__page__section1__div1 {
        place-items: center;
        margin-left: 0;
        padding: 1rem;
    }
}