$primaryColor: #339966;
$secondaryColor: #eff6f6;
$blue: #215d5d;
$background: #11d6b2;
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.chat-container {
    position: fixed;
    background-color: $background;
    height: 85vh;
    width: 70vw;
    .card-body {
        .followed_user {
            position: fixed;
            width: 20vw;
            height: 78vh;
            .followed_user_list {
                display: flex;
                flex-direction: column;
                max-height: 80vh;
                gap: 10px;
                a {
                    cursor: pointer;
                    width: 100%;
                    padding: 10px;
                    border-bottom: 1px solid rgb(239, 233, 233);
                    margin-bottom: 20px;
                    text-decoration: none;
                    color: black;
                    &:hover {
                        border-radius: 25px;
                        background-color: gray;
                        color: white;
                        font-weight: bold;
                    }
                }
                .active {
                    border-radius: 25px;
                    background-color: gray;
                    color: white;
                    font-weight: bold;
                }
            }
        }
        .chatbox {
            height: 65vh;
            width: 100%;
            .conversation {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-left: 20vw;
                min-height: 50vh;
                .chat_content {
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    background-color: white;
                    padding: 10px;
                    border-radius: 25px;
                }
                .sender {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    gap: 20px;
                    background-color: $blue;
                    padding: 10px;
                    border-radius: 25px;
                    color: white;
                }
            }
        }
        .footer {
            display: flex;
            background-color: transparent;
            height: 7vh;
            .footer_col_1 {
                display: flex;
                width: 30%;
            }
            .footer_col_2 {
                display: flex;
                width: 70%;
                input {}
            }
        }
    }
}