.header__navbar {
    display: flex;
    width: 100vw;
    padding: 1rem;
    justify-content: space-between;
    background: transparent;
    align-items: center;
}
.header__navbar nav {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.header__navbar #frontpage__logo {
    width: 50%;
}
.header__navbar nav ul {
    display: flex;
    width: max-content;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    height: auto;
    padding: 0 2rem;
    gap: 25px;
}
.header__navbar nav li {
    display: grid;
    place-content: center;
    width: clamp(max-content, 10vmin, 150px);
}
.header__navbar nav ul a {
    text-decoration: none;
    font-size: clamp(14px, 2vmin, 24px);
    color: var(--bgcolor1);
}
#frontpage__logo a {
    text-decoration: none;
    color: var(--bgcolor1);
    padding-left: 1rem;
}
#frontpage__logo a img {
    width: clamp(150px, 20vw, 210px);
    -webkit-filter: contrast(1.25);
    filter: contrast(1.25);
}
#frontpage__header__btn {
    background: var(--color1);
    color: #0b1313;
    width: clamp(max-content, 8vw, 143px);
    font-weight: 500;
    border-radius: 20px;
    padding: .75rem 1.4rem;
    display: grid;
    place-content: center;
    font-family: 'Oxygen', sans-serif;
    transition: all 250ms ease-in-out;
}
#frontpage__header__btn:hover {
    background: var(--hovercolor1);
}

.sidenav-active {
    border-radius: 0px;
}

.navlink {
    cursor: pointer;
}