* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.frontPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #eff6f6;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frontPage .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 100%;
  width: 25vw;
}

.frontPage .header .header-content {
  position: fixed;
  height: 100%;
  width: 25vw;
  background-color: #11d6b2;
  padding: 0 10px;
}

.frontPage .header .header-content .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20vh;
  width: 100%;
  border-bottom: 1px solid #eff6f6;
  cursor: pointer;
}

.frontPage .header .header-content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 50vh;
  width: 100%;
}

.frontPage .header .header-content .menu a {
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 20px 0.65rem 20px 0.2rem;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: clamp(8px, 5vw, 18px);
  width: 80%;
  cursor: pointer;
  /*  display: grid;
                    gap: 5px;
                    place-items: center; */
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.frontPage .header .header-content .menu a span {
  margin-left: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.frontPage .header .header-content .menu a svg {
  color: #215d5d;
}

.frontPage .header .header-content .menu a:hover {
  background-color: #eff6f6;
  color: #339966;
}

.frontPage .header .header-content .menu a:hover svg {
  color: #339966;
}

.frontPage .header .header-content .menu .active {
  background-color: #eff6f6;
  color: #339966;
}

.frontPage .header .header-content .menu .active svg {
  color: #339966;
}

.frontPage .header .header-content .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30vh;
  width: 100%;
  color: white;
  border-top: 1px solid #eff6f6;
  padding: 10px;
}

.frontPage .header .header-content .footer a {
  height: 100%;
  width: 100%;
}

.frontPage .header .header-content .footer a img {
  width: 80%;
  height: 100%;
}

.frontPage .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #eff6f6;
  width: 100vw;
  padding: 0 5vw;
  margin-left: 0.5em;
}

.frontPage .content .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
}

.frontPage .content .navbar .navbar-content {
  position: fixed;
  background-color: white;
  height: 10vh;
  right: 0;
  left: 21vw;
  top: 0;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.frontPage .content .navbar .navbar-content .search {
  position: relative;
  width: 100%;
  background-color: transparent;
  padding: 0.2em;
  padding: 0.2em 0.8em;
  background-color: transparent;
  border-radius: 25px;
  height: 60px;
}

.frontPage .content .navbar .navbar-content .search .search-input {
  width: 100%;
  padding: 0 0.5em;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: #eff6f6;
}

.frontPage .content .navbar .navbar-content .search .search-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 10px;
  height: 40px;
  width: 60px;
  text-decoration: none;
  border-radius: 6px;
  background-color: #339966;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  border: none;
}

.frontPage .content .navbar .navbar-content .search .search-button svg {
  color: white;
}

.frontPage .content .navbar .navbar-content .search .search-button:hover {
  background-color: #40bf80;
}

.frontPage .content .navbar .navbar-content .search .search-button:hover svg {
  color: white;
}

.frontPage .content .navbar .navbar-content .profile-dropdown {
  height: 100%;
}

.frontPage .content .navbar .navbar-content .profile-dropdown .dropdown-image {
  cursor: pointer;
  background-color: transparent;
}

.frontPage .content .navbar .navbar-content .profile-dropdown .dropdown-image svg {
  color: #339966;
}

.frontPage .content .navbar .navbar-content .profile-dropdown .dropdown-image:hover {
  background-color: #eff6f6;
}

.frontPage .content .navbar .navbar-content .dropdownContainer {
  position: fixed;
  width: 250px;
  height: auto;
  right: clamp(20px, 5vw, 30px);
  top: 10.5vh;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-header .photo-dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-header .photo-dropdown img {
  height: 100%;
  width: 80px;
  height: 80px;
  margin: 10px 0;
  border-radius: 50%;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-header h4 {
  padding: 5px;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-body a {
  padding: 0.8em;
  width: 100%;
  text-decoration: none;
  color: #339966;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-body a span {
  margin-left: 15px;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-body a:hover {
  background-color: #d8d2d2;
}

.frontPage .content .navbar .navbar-content .dropdownContainer .dropdown-body a:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.frontPage .content .content-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
}

.frontPage .content .content-body .newsfeeds {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 0.6rem 0 0.6rem;
  width: 100vw;
  background-color: #eff6f6;
  margin-top: 10vh;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-container-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: clamp(100%, 100%, 600px);
  background-color: white;
  border-radius: 10px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.frontPage .content .content-body .newsfeeds .newsfeeds-container-1 .post-container {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.2rem;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-container-1 .post-container .newsfeeds-photo svg {
  width: clamp(40px, 5vw, 100px);
  color: #339966;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-container-1 .post-container .newsfeeds-input {
  border: none;
  outline: none;
  border-bottom: 1px solid #eff6f6;
  width: 50vw;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-content .user-info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-content .user-info .newsfeeds-content-photo {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.frontPage .content .content-body .newsfeeds .newsfeeds-content .user-info .newsfeeds-content-photo svg {
  color: #339966;
}

.frontPage .content .content-body .side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 25%;
  height: 100%;
  right: 0;
  z-index: 1;
}

.frontPage .content .content-body .side .side-content {
  position: fixed;
  background-color: #11d6b2;
  margin-top: 7vh;
  width: 20%;
  height: 100%;
  z-index: 9;
}

.frontPage .content .footer {
  width: 100%;
  height: 10vh;
  background-color: gray;
}

.hamburger-menu {
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

.dropdown__mobile__container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: var(--color2);
  z-index: 300;
  display: -ms-grid;
  display: grid;
  place-content: center;
}

.dropdown__mobile__container .dropdown-header h4 {
  overflow-y: hidden;
}

.dropdown__mobile__container .dropdown-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.dropdown__mobile__container .dropdown-body a {
  padding: 0.8em;
  width: 100%;
  text-decoration: none;
  color: #339966;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dropdown__mobile__container .dropdown-body a span {
  margin-left: 15px;
}

.dropdown__mobile__container .dropdown-body a:hover {
  background-color: #d8d2d2;
}

.dropdown__mobile__container .dropdown-body a:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: 0.35s;
  transition: 0.35s;
}

.menu__container {
  position: fixed;
  left: 0;
  top: 10.3vh;
  width: 100vw;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  z-index: 1;
  background: white;
  padding: 1.4rem 0;
}

.menu__container .link__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.menu__container .link__container .link__home a,
.menu__container .link__container .link__trending a,
.menu__container .link__container .link__chat a,
.menu__container .link__container .link__about a {
  color: #215d5d;
}

@media screen and (max-width: 800px) {
  .frontPage .content .navbar .navbar-content {
    width: 100vw;
    -webkit-transform: translateX(-18vw);
            transform: translateX(-18vw);
  }
  .frontPage .content .content-body .newsfeeds {
    margin-top: 20vh;
    padding: 0 0.36rem 0 0;
  }
}
